
  <div class=titulo-principal>Tem que inventar um nome pra colocar aqui</div>
  <div id="login-container" class="borda1">
    <div class=titulo>Cadastro</div>
    <form action="pesquisa.html">
      <label for="nome">Nome</label>
      <input type="text" name="nome" id="nome" placeholder="Digite seu nome completo" autocomplete="off">
      <label for="nascimento">Data de Nascimento</label>
      <input type="date" name="nascimento" id="nasc" autocomplete="off">
      <label for="phone">Telefone</label>
      <input type="tel" id="phone" name="telefone" pattern="^\d{2} \d{4}-\d{5}$" placeholder="11 1234-12345">
      <label for="email">E-mail</label>
      <input type="email" name="email" id="email" placeholder="Digite seu e-email" autocomplete="off">
      <label for="password">Senha</label>
      <input type="password" name="password" id="password" placeholder="Digite sua senha">
      <label for="password">Confirmar Senha</label>
      <input type="password" name="password" id="password" placeholder="Digite sua senha novamente">
      <input type="submit" onclick="alert('Ainda Não tem função')" value="cadastar" class=botao>
    </form>    
    <div id="register-container">
      <input type="butom" onclick="alert('Ainda Não tem função')" value="voltar" class=botaovoltar>
    </div>
  </div>
