<!DOCTYPE html>
<html>
<%- include ('partials/header.ejs') %>

    <body>
        <p id="enderecoAPI" hidden="true"><%= endereco %></p>
        <div class="container w-100 p-3">
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
                <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
                    <div class="card-title">
                        <br>
                        <h1>Aglomerômetro</h1>
                        <hr>
                        <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 form-group">
                                <input id="inputPesquisa" type="text" class="form-control" placeholder="Buscar estabelecimento...">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-group">
                                <button onclick="Pesquisar()" class="btn btn-primary">Pesquisar</button>
                            </div>  
                        </div>
                    </div>                 
                    <div class="card-body">
                        <div id="estabelecimentos">
                        </div>
                        <a href="/" class="btn btn-lg btn-secondary col-lg-2 col-md-2 col-sm-2 col-xs-2">Sair</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <style>
        .inline{
            display: inline;
        }
        .font32{
            font-size: 32px;
        }
        .Fechado{
            color: #000000;
        }        
        .Indefinido{
            color: #b3b3cc;
        }
        .Vazio{
            color: #4db8ff;
        }
        .Baixo{
            color: #00e600;
        }
        .Médio{
            color: #ff9900;
        }
        .Cheio{
            color: #ff3300;
        }
        .Lotado{
            color: #d11aff;
        }
    </style>
    <script>
        var enderecoAPI = document.getElementById("enderecoAPI").textContent;
        // var Enum = require('enum');
        // var myEnum = new Enum({'A': 1, 'B': 2, 'C': 4});
        // alert(myEnum.A.value);
        function Pesquisar(){
            $('#estabelecimentos').hide();
            alert($('#inputPesquisa').val())
        }

        function getLocation() {
            
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else { 
                x.innerHTML = "Geolocation is not supported by this browser.";
                }
        }

        function showPosition(position) {
            alert("Latitude: " + position.coords.latitude + 
            "Longitude: " + position.coords.longitude);
        }

        var sitEstabelecimento = 'Indefinido';

        $(document).ready(function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else { 
                x.innerHTML = "Geolocation is not supported by this browser.";
            }

            axios.get(enderecoAPI + "/e/geolo?lng=-46.410622719&lat=-23.594082111").then(response => {
                console.log(response.data);
            }).catch(error => {
                console.log(error)
            })

            //axios.get(enderecoAPI + "/e/estab").then(response => {
            axios.get(enderecoAPI + "/e/geolo?lng=-46.410622719&lat=-23.594082111").then(response => {
                console.log(response.data);
                var estabelecimentos = response.data;
                var list = document.getElementById("estabelecimentos");               

                estabelecimentos.forEach(e => {
                    axios.get(enderecoAPI + "/s/status/estab/"+e.estabelecimento._id).then(res => {
                    sitEstabelecimento = res.data.status;
                    
                    
                    
                    var estabDistancia = e.distancia;
                    if(estabDistancia > 999){
                        estabDistancia = (estabDistancia / 1000).toFixed(2);
                        estabDistancia += " km"
                    }else{
                        estabDistancia += " m"
                    }
                        

                    var div = document.createElement("div");
                    div.id = `${e.estabelecimento._id}`
                    div.innerHTML = `
                    <h4>${e.estabelecimento.nome}</h4>
                    <h6>Distância do local: ${estabDistancia} </h6>
                    <p>${e.logradouro} - ${e.bairro}, ${e.numero}<br>
                        Horário de funcionamento: ${e.estabelecimento.horariofunc}<br>
                        <span>Situação: <b><span class="inline font32 ${sitEstabelecimento}">•</span> ${sitEstabelecimento}</b></span>
                    </p>
                    <button id="btn${e.estabelecimento._id}" onclick="mostrarSituacao('${e.estabelecimento._id}')" class="btn btn-primary">Atualizar situação</button>


                    
                    <div id="div${e.estabelecimento._id}" style="display: none;">
                    
                    
                    <h5>Atualizar:</h5>
                    <div class="row col-xs-2 col-sm-2 col-md-2 col-lg-2" align="center">
                    <select class="form-select" name="selectSituacao${e.estabelecimento._id}" id="selectSituacao${e.estabelecimento._id}">
                        <option value="2">Vazio</option>
                        <option value="3">Baixo</option>
                        <option value="4">Médio</option>
                        <option value="5">Cheio</option>
                        <option value="6">Lotado</option>
                    </select>
                    </div>
                    <br>


                    <button id="btnCanc${e.estabelecimento._id}" onclick="cancelarAtualizacao('${e.estabelecimento._id}')" class="btn btn-danger" value="">Cancelar</button>
                    <button id="btnAtualizar${e.estabelecimento._id}" onclick="atualizarSituacao('${e.estabelecimento._id}')" class="btn btn-success" value="">Atualizar</button>
                    </div>
                    <hr>
                    `;

                    document.getElementById("estabelecimentos").appendChild(div);
                    }).catch(error => console.log(error));

                });
            }).catch(error => {
                console.log(error);
            });
        });

        async function retornarDistancia(idEstabelecimento){
            /*var lng = -46.410622719;
            var lat = -23.594082111;
            var teste;

            let response = await axios.get(enderecoAPI + "/e/geolo?lng="+lng+"&"+"lat="+lat).then(res => {
                teste = res.data.find(r => r.estabelecimento._id === '618daaf8bfec3304f01e45f2').distancia;
            }).catch(error => console.log(error));*/

            return idEstabelecimento;
        }

        function mostrarSituacao(id){
            var btnEstabelecimento = document.getElementById('btn'+id);
            var divEstabelecimento = document.getElementById('div'+id);
            
            divEstabelecimento.style.display = 'block';
            btnEstabelecimento.style.display = 'none';

        }

        function cancelarAtualizacao(id){
            var btnEstabelecimento = document.getElementById('btn'+id);
            var divEstabelecimento = document.getElementById('div'+id);

            divEstabelecimento.style.display = 'none';
            btnEstabelecimento.style.display = 'block';           
        }

        function atualizarSituacao(id){
            
            var btnEstabelecimento = document.getElementById('btn'+id);
            var divEstabelecimento = document.getElementById('div'+id);
            var sitEstabelecimento = document.getElementById('selectSituacao'+id).value;
            
            axios.post(enderecoAPI + '/s/status', {
                estabelecimento:
                {
                    _id: id,
                    nome: "Extra",
                    horariofunc: "08:00 - 17:00",
                    __v: 0
                },
                usuario:"613ff91bdabf3220e47342f2",
                status: sitEstabelecimento
            })
            .then(function (response) {
                

                divEstabelecimento.style.display = 'none';
                btnEstabelecimento.style.display = 'block';
                document.location.reload(true);      
            })
            .catch(function (error) {
                console.log(error);
            });            
            
        }
    </script>

</html>